* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

main{
    display: flex;
    flex-direction: column;
}

.card-body{
    display: flex;
    flex-direction: column;
}

h6 {
    font-size: 1.5em;
    font-weight: 500;
}

input {
    border: 2px solid #704214;
    outline: none;
    margin-bottom: 6%;
    width: 300px;
    font-size: 13px;
    border-radius: 6px;
    padding: 1%;
    
}

.icon {
    background-color: #704214;
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-left: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.pesquisar {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.pesquisas {
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    justify-content: space-between;
    margin-right: 2%;
}

select {
    border: 2px solid #704214;
    outline: none;
    margin-bottom: 6%;
    width: 200px;
    font-size: 13px;
    border-radius: 6px;
    padding: 4px;
    padding: 2%;
    cursor: pointer;
}


.p {
    display: flex;
    flex-direction: row;
}

.seletores-container {
    display: flex;
    flex-direction: row;
    gap: 2%; 
}
.seletores{
    width: 30%;
}
.card-body button{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: #704214;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: large;
    padding: 1%;
}

.seletores button{
    border-radius: 7px;
    color: white;
    background-color: #704214;
    border: none;
    cursor: pointer;
    font-size: large;
    padding-right: 2%;
    padding-left: 2%;
    padding: 1.4%;
    margin-top: 1%;
}


.buttons button{
    margin-right: 1%;
    width: 20%;
}

.card-body h4{
    padding: 1%;
    background-color: #af0000;
    color: white;
    width: 50%;
    border-radius: 2px;
}

.card{
    border: none;
    margin: 2%;
    width: 95%;
}

.carde{
    margin: 1%;
}

.carde img{
    width: 200px;
}

.card-body h3{
    margin-bottom: 2%;
}

.card-body{
    margin-left: 3%;
}

.buttons{
    display: flex;
    width: 100%;
}


