* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
}


body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode .card{
    background-color: #333333;
    color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
}

body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

button:hover{
    background-color: #704214d7;
}

.card-body button{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: #704214;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: large;
    padding: 1%;
}


.buttons button{
    margin-right: 1%;
    margin-top: 1%;
    width: 20%;
}

.card-body h4{
    padding: 1%;
    background-color: #af0000;
    color: white;
    width: 50%;
    border-radius: 2px;
}

.card{
    border: none;
    margin: 2%;
    width: 95%;
}

.carde{
    margin: 1%;
}

.carde img{
    width: 250px;
}

.card-body h3{
    margin-bottom: 1%;
}

.card-body{
    margin-left: 3%;
}

.buttons{
    display: flex;
    width: 100%;
}

.card-body h4, .card-body h5, .card-body p{
    margin-bottom: 0.5%;
}

.divh6{
    margin-bottom: 25%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent !important;
}

.divh6 h6{
    background-color: transparent;
    color: #7a7a7a;
    font-size: 1.5em;
}

.seletores{
    width: 23%;
}


