* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* Estilos gerais para o modo escuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}

body.dark-mode .modal-header, 
body.dark-mode .modal-footer {
    background-color: #444;
}

body.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

main h4{
    margin-top: 3%;
}

.carousel{
    margin-top: 1%;
    width: 100%;
}

.carousel-caption{
    margin-bottom: 2%;
}

main h5{
    margin-top: 3%;
}

.card img{
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.vermais{
    text-decoration: none;
    background-color: #704214;
    padding: 0.5%;
    color: white;
    border-radius: 10px;
}

.card-body{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-body a{
    padding: 2%;
}

.container{
    margin-top: 3%;
}

.card-header{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    border: none;
}

.card-header img{
    color: #ffae00;
    width: 33px;
    height: 33px;
    cursor: pointer;
}


