.mb-3 input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #46220F;
    outline: none;
    border-radius: 0px;
}

.mb-3 input:hover{
    border-bottom: 2px solid #46220F;
}

.mb-3 input:focus {
    border-bottom: 2px solid #915636;
    outline: none; 
    font-size: small;
    box-shadow: none;
}

.form-select{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #46220F;
    outline: none;
    border-radius: 0px;
}

.form-select:hover{
    border-bottom: 2px solid #46220F;
}

.form-select:focus {
    border-bottom: 2px solid #915636;
    outline: none; 
    font-size: small;
    box-shadow: none;
}

.modal-footer button{
    background-color: #46220F;
    display: flex;
    align-items: center;
}

.modal-footer button:hover{
    background-color: #643c26;
}

.modal-footer{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;

}

#delUser{

    background-color: rgb(165, 27, 27);
}

#addGenero {

    background-color: #46220F;
    display: flex;
    align-items: center;
    justify-content: center;
}

